<div class="card">
	<div
		[ngClass]="{
			'card-header': isActive === 1,
			'card-body': true
		}"
	>
		<a (click)="isActive = 1" [routerLink]="['/dashboard/revenue']"
			>Revenue</a
		>
	</div>

	<div
		[ngClass]="{
			'card-header': isActive === 2,
			'card-body': true
		}"
	>
		<a (click)="isActive = 2" [routerLink]="['/dashboard/newuser']"
			>New user</a
		>
	</div>

	<div
		[ngClass]="{
			'card-header': isActive === 3,
			'card-body': true
		}"
	>
		<a (click)="isActive = 3" [routerLink]="['/dashboard/products']"
			>Product management</a
		>
	</div>

	<div
		[ngClass]="{
			'card-header': isActive === 4,
			'card-body': true
		}"
	>
		<a (click)="isActive = 4" href="#">User management</a>
	</div>
</div>
