<nav class="navbar navbar-expand-lg navbar-light bg-light row">
	<div
		class="col-lg-8 col-sm-2 col-2 d-flex justify-content-center align-items-center"
	>
		<a class="col-lg-1navbar-brand" href="#">
			<img
				class="logo"
				src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg"
				alt=""
			/>
		</a>
		<div class="collapse navbar-collapse row" id="navbarSupportedContent">
			<ul
				class="col-lg-4 navbar-nav d-flex flex-row justify-content-center"
			>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<i class="fas fa-th"></i>
						Categories
					</a>
					<ul
						*ngIf="categories"
						class="dropdown-menu"
						aria-labelledby="navbarDropdown"
					>
						<a
							*ngFor="let category of categories"
							class="dropdown-item"
							href="#"
							id="navbarChild"
							role="button"
							data-toggle="dropdown"
							>{{ category.title }}
						</a>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
			<form class="col-lg-8 form-inline my-2 my-lg-0">
				<input
					class="search-width form-control mr-sm-2"
					type="search"
					placeholder="Search course"
					aria-label="Search"
				/>
				<button
					class="btn btn-outline-danger my-2 my-sm-0"
					type="submit"
				>
					Search
				</button>
			</form>
		</div>
	</div>
	<div class="col-lg-4 col-sm-10 col-10 d-flex justify-content-end">
		<button class="shopping-cart">
			<i class="fas fa-shopping-cart"></i>
		</button>
		<a
			class="btn-space btn btn-outline-danger my-2 my-sm-0"
			type="submit"
			[routerLink]="['/user/login']"
			>Log in</a
		>
		<button
			class="btn btn-outline-primary my-2 my-sm-0"
			type="submit"
			[routerLink]="['/user/register']"
		>
			Sign up
		</button>
	</div>
</nav>
