<div class="global-container">
	<div class="card login-form">
		<div class="card-body">
			<h3 class="card-title text-center">Forgot Password</h3>
			<div class="card-text">
				<div
					*ngIf="!loginSuccess"
					class="alert alert-danger alert-dismissible fade show"
					role="alert"
				>
					{{ loginErr }}
				</div>
				<form
					[formGroup]="resetPassForm"
					#reset="ngForm"
					(ngSubmit)="reset.form.valid && onSubmit()"
				>
					<!-- to error: add class "has-danger" -->
					<div class="form-group">
						<div
							*ngIf="
								reset.submitted &&
								resetPassForm.get('email')?.invalid
							"
						>
							<em
								class="required-err"
								*ngIf="
									resetPassForm.get('email')?.errors.required
								"
								>Please fill out this filed!</em
							>
							<em
								class="required-err"
								*ngIf="resetPassForm.get('email')?.errors.email"
								>Please enter a valid email!</em
							>
						</div>
						<input
							formControlName="email"
							type="email"
							class="form-control form-control-sm"
							id="email"
							aria-describedby="emailHelp"
							placeholder="Email address"
						/>
					</div>
					<button type="submit" class="btn btn-primary btn-block">
						Reset Rassword
					</button>
					<div class="forgot-password text-center mt-2">
						or
						<a href="/user/login" style="font-size: 12px;">Login</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
