<div class="product-detail">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#"
						><b>{{
							product.category.parents_category['title']
						}}</b></a
					>
				</li>
				<li class="breadcrumb-item">
					<a href="#">{{ product.category.title }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">{{ product.topic.title }}</a>
				</li>
			</ol>
		</div>
	</nav>
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-8 py-5">
					<div class="title">
						<h2>{{ product.name }}</h2>
					</div>
					<div class="headline mb-2">
						<h5 style="font-weight: 400;">
							{{ product.headline }}
						</h5>
					</div>
					<div class="number mb-2">
						<span class="stars-outer mr-3">
							<span
								class="stars-inner"
								[style.width.%]="
									(product['avg_rating'] * 92) / 5
								"
							>
							</span>
						</span>
						<span class="rating mr-3"
							>{{ product['avg_rating'] }}({{
								product.num_reviews
							}}
							ratings)</span
						>
						<span class="student-enrolled"
							>{{ product.num_students_enrolled }} students
							enrolled</span
						>
					</div>
					<div class="author mb-2">
						<span class="mr-3"
							>Create by {{ product.author.name }}</span
						>
						<span>
							Last updated
							{{ product.last_modified | date: 'M/yyyy' }}</span
						>
					</div>
					<div class="language-caption">
						<span class="language mr-3"
							><i class="fas fa-comment mr-1"></i
							>{{ product.language }}</span
						>
						<span class="caption"
							><i class="fas fa-closed-captioning mr-1"></i
							>{{ product.caption_languages[0] }},
						</span>
						<span
							*ngIf="product.caption_languages.length > 1"
							class="more-caption"
							style="text-decoration: underline;"
						>
							{{ product.caption_languages.length }} more
							<div class="more-caption-box">
								<span
									*ngFor="
										let caption_language of product.caption_languages
											| slice: 1;
										index as i
									"
									>{{ caption_language }}</span
								>
							</div>
						</span>
					</div>
				</div>
				<div class="preview-box col-4">
					<div class="preview-box-inside">
						<div class="image">
							<img [src]="product.image" alt="" />
							<span>Preview this course</span>
							<div class="play"></div>
							<i class="fas fa-play"></i>
						</div>
						<div class="price">
							<span class="real" *ngIf="!product.discount"
								><h2>
									<b>${{ product.price }}</b>
								</h2></span
							>
							<span *ngIf="product.discount" class="discount"
								><h2>
									<b
										>${{
											product.price -
												(product.price *
													product.discount) /
													100
										}}</b
									>
								</h2></span
							>
							<span
								*ngIf="product.discount"
								class="real mx-2"
								style="
									text-decoration: line-through;
									color: #8a92a3;
								"
								>${{ product.price }}</span
							>
							<span
								*ngIf="product.discount"
								class="discount"
								style="color: #8a92a3;"
								>{{ product.discount }}% off</span
							>
						</div>
						<div class="btn btn-danger add-to-cart">
							Add to cart
						</div>
						<div class="btn btn-outline-secondary buy-now">
							Buy now
						</div>
						<span class="money-back"
							>30-Day Money-Back Guarantee</span
						>
						<div class="incentives">
							<span>This course includes</span>
							<ul class="incentives-list">
								<li
									*ngFor="
										let incentive of product.incentives_list
									"
								>
									{{ incentive }}
								</li>
							</ul>
						</div>
						<span class="apply-coupon">Apply Coupon</span>
						<hr style="width: 80%;" />
						<span class="share-course my-3"
							><i class="fa fa-share mr-1" aria-hidden="true"></i
							>Share</span
						>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="objectives">
					<div class="objectives-box">
						<h4><b>What you'll learn</b></h4>
						<ul class="objectives-list">
							<li *ngFor="let objective of product.objectives">
								{{ objective }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="course-content">
					<div class="course-content-box">
						<div class="curriculum-header">
							<h5 class="course-content-text">Course content</h5>
							<div class="hearder-right">
								<a (click)="expandAll()" class="expand-btn">{{
									isExpand == false
										? 'Expand all'
										: 'Collapse all'
								}}</a>
								<span class="num-lecttures">{{
									product.num_lectures
								}}</span>
								<span class="estimate-length">{{
									product.estimate_content_length
								}}</span>
							</div>
						</div>
						<div
							*ngFor="let section of product.sections; index as i"
							class="card"
						>
							<div class="section-container" [id]="'heading' + i">
								<h5 class="mb-0 section-container-left">
									<a
										class="section-collapse-btn collapsed"
										data-toggle="collapse"
										[attr.data-target]="'#' + i"
										aria-expanded="false"
										[attr.aria-controls]="i"
									>
										<i class="fa" aria-hidden="true"></i>
										<b class="section-title">{{
											section.title
										}}</b>
									</a>
								</h5>
								<div class="section-container-right">
									<span
										class="num-items-in-section"
										data-purpose="num-items-in-section"
										>{{
											section.lecture_count
										}}
										lectures</span
									>
									<span class="section-header-length">{{
										section.section_length * 1000
											| date: 'H:mm:ss':'UTC'
									}}</span>
								</div>
							</div>

							<div
								[id]="i"
								[ngClass]="{
									show: isExpand === true,
									collapse: true
								}"
								[attr.aria-labelledby]="'heading' + i"
								data-parent="#accordion"
							>
								<div class="card-body" style="padding: 0;">
									<div
										*ngFor="
											let item of section.items;
											index as ii
										"
										class="lecture-container lecture-container--preview"
										data-purpose="lecture-item-1-1"
									>
										<div class="left-content">
											<span
												class="udi udi-play-circle"
											></span>
											<div class="top">
												<div
													[innerHTML]="
														item.description
													"
													class="description collapse"
													data-purpose="safely-set-inner-html:section-item:description"
													style="height: 0px;"
													[id]="ii + 'item' + i"
													[attr.aria-labelledby]="
														'heading' +
														ii +
														'item' +
														i
													"
													data-parent="#accordion"
												></div>
												<div class="title">
													<a>{{ item.title }}</a>
													<a
														class="section-collapse-btn collapsed"
														data-toggle="collapse"
														[attr.data-target]="
															'#' +
															ii +
															'item' +
															i
														"
														aria-expanded="false"
														[attr.aria-controls]="
															ii + 'item' + i
														"
														class="down-arrow"
														><span
															aria-label="Show description"
															data-purpose="lecture-caret-1-1"
															class="udi udi-caret-down"
														></span
													></a>
												</div>
											</div>
										</div>
										<div class="details">
											<a
												*ngIf="item.can_be_previewed"
												href="#"
												data-purpose="preview-course"
												><span class="preview-text"
													>Preview</span
												></a
											><span class="content-summary">{{
												item.item_length
											}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="requirements">
					<h4 style="font-weight: 700;">Requirements</h4>
					<ul class="requirements-list">
						<li *ngFor="let requirement of product.requirements">
							{{ requirement }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="course-description">
					<h4 style="font-weight: 700;">Descriptions</h4>
					<div class="course-description-text">
						<p>{{ product.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="clp-component-render">
					<div class="instructor">
						<span
							id="instructor"
							class="in-page-offset-anchor"
						></span>
						<div
							class="ud-component--clp--instructors"
							ng-non-bindable=""
						>
							<div class="instructors--instructors--29_-v">
								<div
									class="instructor--instructor--2qudS"
									data-purpose="instructor-bio-desktop"
								>
									<span
										class="in-page-offset-anchor"
										id="instructor-1"
									></span>
									<div
										class="instructor--instructor__image-and-stats--3upAA"
									>
										<a
											class="instructor--instructor__image--3gGa8"
											href="/user/joseportilla/"
											><img
												alt="Jose Portilla"
												aria-label="Jose Portilla"
												class="user-avatar user-avatar--image"
												data-purpose="instructor-image"
												height="96"
												width="96"
												[src]="product.author.image"
										/></a>
										<div
											class="instructor--instructor__stats--1eL5l"
										>
											<table>
												<tbody>
													<tr
														class="instructor--instructor__stat-row--JDvkn"
													>
														<td
															class="instructor--instructor__stat-icon--3QPJ7"
														>
															<span
																class="udi udi-star"
															>
															</span>
														</td>
														<td>
															<span
																class="instructor--instructor__stat--idAfz"
																><span
																	class="instructor--instructor__stat-value--2Kwe1"
																	>4.5</span
																>
																Instructor
																Rating</span
															>
														</td>
													</tr>
													<tr
														class="instructor--instructor__stat-row--JDvkn"
													>
														<td
															class="instructor--instructor__stat-icon--3QPJ7"
														>
															<span
																class="udi udi-comment"
															>
															</span>
														</td>
														<td>
															<span
																class="instructor--instructor__stat--idAfz"
																><span
																	class="instructor--instructor__stat-value--2Kwe1"
																	>573,574</span
																>
																Reviews</span
															>
														</td>
													</tr>
													<tr
														class="instructor--instructor__stat-row--JDvkn"
													>
														<td
															class="instructor--instructor__stat-icon--3QPJ7"
														>
															<span
																class="udi udi-user"
															>
															</span>
														</td>
														<td>
															<span
																class="instructor--instructor__stat--idAfz"
																><span
																	class="instructor--instructor__stat-value--2Kwe1"
																	>1,792,586</span
																>
																Students</span
															>
														</td>
													</tr>
													<tr
														class="instructor--instructor__stat-row--JDvkn"
													>
														<td
															class="instructor--instructor__stat-icon--3QPJ7"
														>
															<span
																class="udi udi-num-of-course"
															>
															</span>
														</td>
														<td>
															<span
																class="instructor--instructor__stat--idAfz"
																><span
																	class="instructor--instructor__stat-value--2Kwe1"
																	>29</span
																>
																Courses</span
															>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="fx">
										<div
											class="instructor--instructor__title-and-job-title--1nr2Z"
										>
											<div
												class="instructor--instructor__title--2-Bub"
											>
												<a
													class="instructor--title__link--1NJ6S"
													href="/user/joseportilla/"
													>{{ product.author.name }}
												</a>
											</div>
											<div
												class="instructor--instructor__job-title--opFWR"
											>
												{{ product.author.job_title }}
											</div>
										</div>
										<div
											class="instructor--instructor__description--1A0ot"
										>
											<div
												data-purpose="description-content"
												class="instructor--instructor__description-content--1CtQI"
											>
												<div
													data-purpose="safely-set-inner-html:trusted-html:content"
													[innerHTML]="
														product.author.info
													"
												></div>
											</div>
										</div>
									</div>
								</div>
								<span style="font-size: 0px;"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 col-lg-8">
				<div class="review">
					<div class="reviews-section--sub-title--3rGCt">
						<div class="reviews-section--sub-title-text--6rNmr">
							<span>Reviews</span>
						</div>
						<form
							class="form-inline search-widget--search-form--3Kx8y"
						>
							<div class="form-group form-group-sm has-feedback">
								<span class="input-group"
									><label
										for="reviews-search-text-input"
										class="sr-only control-label"
										>Search reviews</label
									><input
										placeholder="Search reviews"
										data-purpose="search-input"
										type="text"
										id="reviews-search-text-input"
										class="search-widget--search-text-input--14MNb form-control"
										value="" /><span class="input-group-btn"
										><button
											data-purpose="search-button"
											type="button"
											class="btn btn-sm btn-secondary search-review-btn"
										>
											<span
												aria-label="Search"
												class="udi udi-search"
											></span></button></span
								></span>
							</div>
						</form>
					</div>
					<div
						*ngFor="let review of reviews"
						class="reviews-section--review-container--X0uGE"
					>
						<div class="individual-review--container--3kHO-">
							<div class="individual-review--right-column--1jp7O">
								<span class="stars-outer">
									<span
										class="stars-inner"
										[style.width.%]="
											(review['rating'] * 92) / 5
										"
									>
									</span>
								</span>
								<div>
									<span style="font-size: 0px;"></span>
									<div
										class="individual-review--comment-content--2pCWg"
									>
										<div
											class="view-more-container--view-more--25_En"
										>
											<div
												style="
													height: 200px;
													overflow: hidden;
												"
											>
												<div>
													<div
														data-purpose="review-comment-content"
													>
														<p>
															{{ review.content }}
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="individual-review--left-column--uKkcj">
								<div
									aria-label="David Johnson"
									class="individual-review--author-avatar--15MOW user-avatar user-avatar--initials"
									data-purpose="review-author-avatar"
									style="
										background-color: rgb(104, 111, 122);
										font-size: 15px;
										width: 48px;
									"
								>
									<div class="user-avatar__inner fx-c">
										<span class="user-initials">{{
											review.user.firstname
												.substr(0, 2)
												.toUpperCase()
										}}</span>
									</div>
								</div>
								<div
									class="individual-review--detail-container--30whp"
								>
									<div
										class="ellipsis individual-review--detail-user-name--2JyaY"
										data-purpose="review-detail-user-name"
									>
										{{ review.user.firstname }}
										{{ review.user.lastname }}
									</div>
									<div
										class="individual-review--detail-created--1liJC"
									>
										{{
											reviewTime(review.create_at).value
										}}
										{{ reviewTime(review.create_at).type }}
										ago
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
