<div>
	<div class="row">
		<div class="col-lg-2 col-sm-12" style="margin: 20px;">
			<app-dashboard-left-menu></app-dashboard-left-menu>
		</div>
		<div class="col-lg-9 col-sm-12">
			<div class="header">
				<div class="overview">
					<h6 class="px-4">User Overview</h6>
				</div>
			</div>
			<div class="container users">
				<div *ngIf="deleteStatus === 1" class="alert alert-success">
					Delete user successfully
				</div>
				<div *ngIf="deleteStatus === -1" class="alert alert-danger">
					An error occur when delete user
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-7 mb-3">
						<div class="search-user">
							<div class="search-icon">
								<span style="display: inline-block;">
									<svg
										width="20"
										height="20"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											d="M14.542 13.173c.857-.942 1.417-2.665 1.417-4.194A6.987 6.987 0 0 0 8.979 2 6.987 6.987 0 0 0 2 8.979a6.987 6.987 0 0 0 6.979 6.979c1.459 0 3.205-.554 4.167-1.444l3.82 3.807a.948.948 0 0 0 1.35-.013.979.979 0 0 0-.012-1.372l-3.762-3.763zM8.98 4.046a4.938 4.938 0 0 1 4.932 4.933 4.938 4.938 0 0 1-4.932 4.933 4.938 4.938 0 0 1-4.933-4.933A4.938 4.938 0 0 1 8.98 4.046z"
											fill="currentColor"
											fill-rule="nonzero"
										></path>
									</svg>
								</span>
							</div>
							<input
								#search
								type="text"
								class="search-box"
								(keyup)="filterUser(search.value+'')"
								placeholder="Search for user"
							/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-5">
						<app-angular2csv
							[data]="users"
							filename="users"
							[options]="options"
						>
							<div class="btn user-to-csv">
								Export to CSV
								<i class="fas fa-download"></i>
							</div>
						</app-angular2csv>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table table-image" *ngIf="users">
							<thead>
								<tr>
									<th scope="col">Image</th>
									<th scope="col">Name</th>
									<th scope="col">Email</th>
									<th scope="col">Role</th>
									<th scope="col">Created at</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="let user of users"
									(click)="getUser(user._id)"
									class="user-row"
									data-toggle="modal"
									data-target="#usermodal"
								>
									<td>
										<img
											*ngIf="user.image"
											[src]="user.image"
											style="width: 100px;"
											class="img-fluid img-thumbnail"
											alt="Sheep"
										/>
										<div
											*ngIf="!user.image"
											class="non-image-avt"
										>
											<span>No Avt</span>
										</div>
									</td>
									<td>
										{{user.firstname}} {{ user.lastname}}
									</td>
									<td>{{user.email}}</td>
									<td>{{user.role}}</td>
									<td>
										{{user.create_at|date:'shortDate'}}
									</td>
									<td>
										<a
											class="nav-link dropdown-toggle"
											href="#"
											id="navbarDropdownMenuLink"
											role="button"
											data-toggle="dropdown"
											aria-haspopup="true"
											aria-expanded="false"
										>
										</a>
										<div
											class="dropdown-menu text-center"
											aria-labelledby="navbarDropdownMenuLink"
										>
											<a
												class="text-primary mr-2 user-action"
												(click)="banUser(user._id)"
												>Ban</a
											>
											/
											<a
												class="text-danger ml-2 user-action"
												(click)="deleteUser(user._id)"
												>Delete</a
											>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="usermodal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-center" id="exampleModalLabel">
					User information
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-xs-12">
					<nav>
						<div
							class="nav nav-tabs nav-fill"
							id="nav-tab"
							role="tablist"
						>
							<a
								class="nav-item nav-link active"
								id="nav-home-tab"
								data-toggle="tab"
								href="#nav-profile"
								role="tab"
								aria-controls="nav-profile"
								aria-selected="true"
								>Profile</a
							>
							<a
								class="nav-item nav-link"
								id="nav-contact-tab"
								data-toggle="tab"
								href="#nav-payment"
								role="tab"
								aria-controls="nav-payment"
								aria-selected="false"
								>Payment</a
							>
							<a
								class="nav-item nav-link"
								id="nav-about-tab"
								data-toggle="tab"
								href="#nav-courses"
								role="tab"
								aria-controls="nav-courses"
								aria-selected="false"
								>Courses</a
							>
						</div>
					</nav>
					<div
						class="tab-content py-3 px-3 px-sm-0"
						id="nav-tabContent"
					>
						<div
							class="tab-pane fade show active"
							id="nav-profile"
							role="tabpanel"
							aria-labelledby="nav-home-tab"
						>
							<div
								class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
							>
								<div
									class="text-center text-sm-left mb-2 mb-sm-0"
								>
									<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">
										{{ user.firstname }} {{ user.lastname }}
									</h4>
								</div>
								<div class="text-center text-sm-right">
									<span class="badge badge-secondary"
										>{{ user.role }}</span
									>
									<div class="text-muted">
										<small
											>Joined {{ user.create_at | date:
											'fullDate' }}</small
										>
									</div>
								</div>
							</div>
							<div class="detail-info py-3 pl-3">
								<h6>Headline: {{user.headline}}</h6>
								<h6>Website: {{user.website}}</h6>
								<h6>Email: {{user.email}}</h6>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="nav-payment"
							role="tabpanel"
							aria-labelledby="nav-contact-tab"
						>
							<div
								*ngIf="!user.payment"
								class="payment-empty pl-3"
							>
								<h3>Payment info is empty</h3>
							</div>
							<div class="payment pl-3" *ngIf="user.payment">
								<h6>
									Name on card: {{user.payment.name_on_card}}
								</h6>
								<h6>
									Card number: {{user.payment.card_number}}
								</h6>
								<h6>Type: {{user.payment.type}}</h6>
								<h6>Expire: {{user.payment.date}}</h6>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="nav-courses"
							role="tabpanel"
							aria-labelledby="nav-about-tab"
						>
							<h3 class="text-center">Enroled Courses</h3>
							<h4
								*ngIf=" user.enrolled_courses && user.enrolled_courses.length===0"
							>
								User have not enrolled any course
							</h4>
							<ul
								*ngIf="user.enrolled_courses &&  user.enrolled_courses.length>0"
								style="list-style: inside;"
							>
								<li
									*ngFor="let course of user.enrolled_courses"
								>
									{{course.name}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>
