<div class="container">
	<div class="row">
		<div class="col-8 col-lg-8">
			<div class="clp-component-render">
				<div class="instructor">
					<span id="instructor" class="in-page-offset-anchor"></span>
					<div
						class="ud-component--clp--instructors"
						ng-non-bindable=""
					>
						<div class="instructors--instructors--29_-v">
							<div
								class="instructor--instructor--2qudS"
								data-purpose="instructor-bio-desktop"
							>
								<span
									class="in-page-offset-anchor"
									id="instructor-1"
								></span>
								<div
									class="instructor--instructor__image-and-stats--3upAA"
								>
									<a
										class="instructor--instructor__image--3gGa8"
										href="/user/joseportilla/"
										><img
											alt="Jose Portilla"
											aria-label="Jose Portilla"
											class="user-avatar user-avatar--image"
											data-purpose="instructor-image"
											height="96"
											width="96"
											[src]="author.image"
									/></a>
									<div
										class="instructor--instructor__stats--1eL5l"
									>
										<table>
											<tbody>
												<tr
													class="instructor--instructor__stat-row--JDvkn"
												>
													<td
														class="instructor--instructor__stat-icon--3QPJ7"
													>
														<span
															class="udi udi-star"
														>
														</span>
													</td>
													<td>
														<span
															class="instructor--instructor__stat--idAfz"
															><span
																class="instructor--instructor__stat-value--2Kwe1"
																>4.5</span
															>
															Instructor
															Rating</span
														>
													</td>
												</tr>
												<tr
													class="instructor--instructor__stat-row--JDvkn"
												>
													<td
														class="instructor--instructor__stat-icon--3QPJ7"
													>
														<span
															class="udi udi-comment"
														>
														</span>
													</td>
													<td>
														<span
															class="instructor--instructor__stat--idAfz"
															><span
																class="instructor--instructor__stat-value--2Kwe1"
																>573,574</span
															>
															Reviews</span
														>
													</td>
												</tr>
												<tr
													class="instructor--instructor__stat-row--JDvkn"
												>
													<td
														class="instructor--instructor__stat-icon--3QPJ7"
													>
														<span
															class="udi udi-user"
														>
														</span>
													</td>
													<td>
														<span
															class="instructor--instructor__stat--idAfz"
															><span
																class="instructor--instructor__stat-value--2Kwe1"
																>1,792,586</span
															>
															Students</span
														>
													</td>
												</tr>
												<tr
													class="instructor--instructor__stat-row--JDvkn"
												>
													<td
														class="instructor--instructor__stat-icon--3QPJ7"
													>
														<span
															class="udi udi-num-of-course"
														>
														</span>
													</td>
													<td>
														<span
															class="instructor--instructor__stat--idAfz"
															><span
																class="instructor--instructor__stat-value--2Kwe1"
																>29</span
															>
															Courses</span
														>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="fx">
									<div
										class="instructor--instructor__title-and-job-title--1nr2Z"
									>
										<div
											class="instructor--instructor__title--2-Bub"
										>
											<a
												class="instructor--title__link--1NJ6S"
												href="/user/joseportilla/"
												>{{ author.name }}
											</a>
										</div>
										<div
											class="instructor--instructor__job-title--opFWR"
										>
											{{ author.job_title }}
										</div>
									</div>
									<div
										class="instructor--instructor__description--1A0ot"
									>
										<div
											data-purpose="description-content"
											class="instructor--instructor__description-content--1CtQI"
										>
											<div
												data-purpose="safely-set-inner-html:trusted-html:content"
												[innerHTML]="author.info"
											></div>
										</div>
									</div>
								</div>
							</div>
							<span style="font-size: 0px;"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
