<div class="container">
	<div class="row">
		<div class="col-8 col-lg-8">
			<div class="student-buy">
				<div class="student-buy-box">
					<h4 class="mb-3"><b>Students also bought</b></h4>
					<div class="list-courses">
						<div
							*ngFor="let product of products"
							class="card course"
						>
							<a [routerLink]="[product.url + '-' + product._id]">
								<app-products-thumnail
									[product]="product"
									class="course-thumnail"
								></app-products-thumnail>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
