<div class="container">
	<div class="row">
		<div class="col-sm-12 col-lg-8">
			<div class="review">
				<div class="reviews-section--sub-title--3rGCt">
					<div class="reviews-section--sub-title-text--6rNmr">
						<span>Reviews</span>
					</div>
					<form class="form-inline search-widget--search-form--3Kx8y">
						<div class="form-group form-group-sm has-feedback">
							<span class="input-group"
								><label
									for="reviews-search-text-input"
									class="sr-only control-label"
									>Filter reviews</label
								><input
									#reviewFilter
									(keyup)="
										filterReviews(reviewFilter.value + '')
									"
									placeholder="Search reviews"
									data-purpose="search-input"
									type="text"
									id="reviews-search-text-input"
									class="search-widget--search-text-input--14MNb form-control"
									value=""
								/>
							</span>
						</div>
					</form>
					<form
						*ngIf="enableReview"
						[formGroup]="reviewForm"
						#review="ngForm"
						(ngSubmit)="review.form.valid && onReview()"
					>
						<div class="add-rating">
							<label class="mr-2">Rate this course</label>
							<span
								(mouseenter)="onRate($event)"
								class="stars-outer rate"
							>
								<span
									class="stars-inner"
									[style.width.%]="rate ? rate : 0"
								>
								</span>
							</span>
						</div>
						<div class="add-review mb">
							<label for="newreview">Add a review</label>
							<textarea
								formControlName="reviewContent"
								class="form-control rounded-0"
								id="newreview"
								rows="3"
							></textarea>
						</div>
						<button
							class="btn btn-primary my-3 float-right"
							type="submit"
						>
							Send
						</button>
					</form>
				</div>
				<div
					*ngFor="let review of reviews"
					class="reviews-section--review-container--X0uGE"
				>
					<div class="individual-review--container--3kHO-">
						<div class="individual-review--right-column--1jp7O">
							<span class="stars-outer">
								<span
									class="stars-inner"
									[style.width.%]="
										(review['rating'] * 92) / 5
									"
								>
								</span>
							</span>
							<div>
								<span style="font-size: 0px;"></span>
								<div
									class="individual-review--comment-content--2pCWg"
								>
									<div
										class="view-more-container--view-more--25_En"
									>
										<div
											style="
												height: 200px;
												overflow: hidden;
											"
										>
											<div>
												<div
													data-purpose="review-comment-content"
												>
													<p>
														{{ review.content }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="individual-review--left-column--uKkcj">
							<div
								aria-label="David Johnson"
								class="individual-review--author-avatar--15MOW user-avatar user-avatar--initials"
								data-purpose="review-author-avatar"
								style="
									background-color: rgb(104, 111, 122);
									font-size: 15px;
									width: 48px;
								"
							>
								<div class="user-avatar__inner fx-c">
									<span class="user-initials">{{
										review.user.firstname
											.substr(0, 2)
											.toUpperCase()
									}}</span>
								</div>
							</div>
							<div
								class="individual-review--detail-container--30whp"
							>
								<div
									class="ellipsis individual-review--detail-user-name--2JyaY"
									data-purpose="review-detail-user-name"
								>
									{{ review.user.firstname }}
									{{ review.user.lastname }}
								</div>
								<div
									class="individual-review--detail-created--1liJC"
								>
									{{ reviewTime(review.create_at).value }}
									{{ reviewTime(review.create_at).type }}
									ago
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
