<div class="container">
	<div class="row flex-lg-nowrap">
		<div class="col-lg-2 col-sm-12" style="margin: 20px;">
			<app-user-left-menu></app-user-left-menu>
		</div>

		<div class="col">
			<div class="row">
				<div class="col mb-3">
					<div class="card">
						<div class="card-body">
							<div class="e-profile">
								<form
									class="form"
									[formGroup]="paymentForm"
									#paymentF="ngForm"
									(ngSubmit)="
										paymentF.form.valid && onSubmit()
									"
								>
									<div class="row">
										<div class="col">
											<h4 class="text-center">
												<b>Payment methods</b>
											</h4>
											<p class="text-center">
												Update your credit card
												information
											</p>
											<div
												class="row justify-content-center"
												*ngIf="payment || addNew"
											>
												<div
													class="col-lg-10 col-sm-6 mb-3"
												>
													<div
														class="col-lg-4 col-sm-12"
													>
														<p>
															Select type of card
														</p>
														<select
															class="form-control my-3"
															id="gender2"
															formControlName="typeOfCard"
														>
															<option
																value="visa"
																[attr.selected]="
																	paymentForm
																		.value[
																		'typeOfCard'
																	] === 'visa'
																		? 'selected'
																		: null
																"
																>Visa</option
															>
															<option
																value="master card"
																[attr.selected]="
																	paymentForm
																		.value[
																		'typeOfCard'
																	] ===
																	'master card'
																		? 'selected'
																		: null
																"
																>Master
																card</option
															>
															<option
																value="ATM"
																[attr.selected]="
																	paymentForm
																		.value[
																		'typeOfCard'
																	] === 'ATM'
																		? 'selected'
																		: null
																"
																>ATM nội
																địa</option
															>
														</select>
													</div>
													<div
														class="col-lg-6 col-sm-12"
													>
														<div class="form-group">
															<label
																>NAME ON
																CARD</label
															>
															<input
																formControlName="nameOnCard"
																class="form-control"
																type="text"
																value="paymentForm.value['nameOnCard']"
															/>
														</div>
														<div class="form-group">
															<label
																>CARD
																NUMBER</label
															>
															<input
																formControlName="cardNumber"
																class="form-control"
																type="text"
																value="paymentForm.value['cardNumber']"
															/>
														</div>
														<div class="form-group">
															<div class="row">
																<div
																	class="col-lg-6 col-sm-12"
																>
																	<label
																		>EXPIRATION
																		DATE</label
																	>
																	<input
																		formControlName="expirtion_date"
																		class="form-control"
																		type="text"
																		value="paymentForm.value['expirtion_date']"
																	/>
																</div>
																<div
																	class="col-lg-6 col-sm-12"
																>
																	<label>
																		CVC</label
																	>
																	<input
																		formControlName="cvc"
																		class="form-control"
																		type="text"
																		value="paymentForm.value['cvc']"
																	/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div
												*ngIf="!payment && !addNew"
												class="row justify-content-center mb-3"
											>
												<h5 class="text-danger">
													Payment info is empty
												</h5>
											</div>
										</div>
									</div>
									<div class="row">
										<div
											class="col d-flex justify-content-center"
										>
											<button
												*ngIf="
													payment;
													else btnNewPayment
												"
												class="btn btn-primary"
											>
												Save
											</button>
											<ng-template #btnNewPayment
												><button
													class="btn btn-primary"
													(click)="addNewPayment()"
												>
													New payment
												</button>
											</ng-template>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
