<div>
	<div class="row">
		<div class="col-lg-2 col-sm-12" style="margin: 20px;">
			<app-dashboard-left-menu></app-dashboard-left-menu>
		</div>
		<div class="col-lg-9 col-sm-12">
			<div class="container">
				<div class="py-2 mt-4 mb-2 border-bottom bg-primary text-white">
					<h4 class="pl-2">Revenue by date</h4>
				</div>
				<div class="row justify-content-around">
					<div class="col-lg-4 col-sm-12 mt-3">
						<div class="box text-center">
							<div class="info">
								<h3>{{ numInvoicesInMonth }}</h3>
								<span> Invoices this month</span>
							</div>
							<div class="total">
								<span
									><b
										>Total {{ totalMonth?.totalMonth }}$</b
									></span
								>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-12 my-3">
						<h6>Select month</h6>
						<select
							*ngIf="invoicesOfMonth"
							class="form-control my-3"
							style="width: 100%;"
							id="gender2"
							(change)="monthSelected($event.target.value)"
						>
							<option
								[attr.selected]="
									month + 1 === currMonth ? 'selected' : null
								"
								*ngFor="let month of months"
								[value]="month + 1"
								>{{ month + 1 }}</option
							>
						</select>
					</div>
					<div class="col-lg-4 col-sm-12 mt-3">
						<div class="box text-center">
							<div class="info">
								<h3>{{ numInvoicesInYear }}</h3>
								<span> Invoices this year</span>
							</div>
							<div class="total">
								<span
									><b
										>Total {{ totalYear?.totalYear }}$</b
									></span
								>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="month-revenue">
							<canvas
								width="500"
								height="400"
								baseChart
								[datasets]="revenueInMonthData"
								[labels]="revenueInMonthLabels"
								[colors]="lineChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"
								[options]="chartOptions"
								[plugins]="lineChartPlugins"
							>
							</canvas>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="year-revenue">
							<canvas
								width="500"
								height="400"
								baseChart
								[datasets]="revenueInYearData"
								[labels]="revenueInYearLabels"
								[colors]="lineChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"
								[options]="chartOptions"
								[plugins]="lineChartPlugins"
							>
							</canvas>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="month-invoices">
							<h5 class="mt-5">Invoices in month</h5>
							<div
								class="table-wrapper-scroll-y my-custom-scrollbar"
							>
								<table class="table table-striped mb-0">
									<thead>
										<tr>
											<th scope="col">User</th>
											<th scope="col">Courses</th>
											<th scope="col">Total price</th>
											<th scope="col">Created at</th>
										</tr>
									</thead>
									<tbody>
										<tr
											*ngFor="
												let invoice of invoicesOfMonth
											"
										>
											<td>
												{{ invoice.user.firstname }}
												{{ invoice.user.lastname }}
											</td>
											<td>
												<ul>
													<li
														*ngFor="
															let course of invoice.course
														"
													>
														{{ course.name }}
													</li>
												</ul>
											</td>
											<td>{{ invoice.total_price }}</td>
											<td>
												{{ invoice.day }}-{{
													invoice.month
												}}-{{ invoice.year }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="year-invoices">
							<h5 class="mt-5">Invoices in year</h5>
							<div
								class="table-wrapper-scroll-y my-custom-scrollbar"
							>
								<table
									class="table table-bordered table-striped mb-0"
								>
									<thead>
										<tr>
											<th scope="col">User</th>
											<th scope="col">Courses</th>
											<th scope="col">Total price</th>
											<th scope="col">Created at</th>
										</tr>
									</thead>
									<tbody>
										<tr
											*ngFor="
												let invoice of invoicesOfYear
											"
										>
											<td>
												{{ invoice.user.firstname }}
												{{ invoice.user.lastname }}
											</td>
											<td>
												<ul>
													<li
														*ngFor="
															let course of invoice.course
														"
													>
														{{ course.name }}
													</li>
												</ul>
											</td>
											<td>{{ invoice.total_price }}</td>
											<td>
												{{ invoice.day }}-{{
													invoice.month
												}}-{{ invoice.year }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container" class="mb-5">
				<div class="py-2 mt-4 mb-2 border-bottom bg-primary text-white">
					<h4 class="pl-2">Revenue by category</h4>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="year-revenue">
							<canvas
								width="500"
								height="400"
								baseChart
								[datasets]="revenueByCategoryData"
								[labels]="revenueByCategoryLabels"
								[colors]="barChartColors"
								[legend]="lineChartLegend"
								[chartType]="barChartType"
								[plugins]="lineChartPlugins"
							>
							</canvas>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div style="display: block;" id="year-revenue">
							<canvas
								width="500"
								height="400"
								baseChart
								[datasets]="invoicesByCategoryData"
								[labels]="revenueByCategoryLabels"
								[colors]="barChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"
								[plugins]="lineChartPlugins"
							>
							</canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
